<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
<mat-card>
  <mat-card-header>
    <div mat-card-avatar="">
      <i mat-list-icon class="{{ question.icon }} icon" ></i>
    </div>
  </mat-card-header>
  <mat-card-title>
    <h2>{{question.title}}</h2>
    <mat-card-subtitle>
      <small>{{ question.user.firstName}} {{ question.user.lastName }} - {{question.createdAt | amLocale: 'es' | amTimeAgo}}</small>
    </mat-card-subtitle>
  </mat-card-title>
  <mat-card-content>
    <p>{{question.description}}</p>
  </mat-card-content>
</mat-card>

<div class="answers">
  <h3 id="title">Respuestas</h3>
  <ul class="asnwers-list" *ngIf="question.answers.length > 0">
    <li class="" *ngFor="let answers of question.answers">
      <h5>{{ answers.user.firstName }} {{ answers.user.lastName }} <small>{{ answers.createdAt | amLocale: 'es' | amTimeAgo }}</small></h5>
      <p class="description">{{ answers.description }}</p>
    </li>
  </ul>
  <p *ngIf="question.answers.length === 0"> Se el primero en responder esta pregunta</p>
</div>
<app-answer-form [question]="question" class="answers-form"></app-answer-form>
</div>
